@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/58/60/tic-tac-toe-seamless-wallpaper-vector-7985860.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    backdrop-filter: invert(75%);
    /* background-size: cover; */
    /* backdrop-filter: sepia(90%); */
    /* backdrop-filter: blur(3px); */


}
.gameContainer{
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.item{
    border: 5px solid black;
    /* border-image:linear-gradient(45deg, rgb(228, 202, 4), rgb(227, 14, 14)) 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:hover{
    /* background-color: rgba(226, 175, 234, 0.877); */ 
    transition-property:background-color ;
    transition-duration: 0.8s;
   transition-timing-function: ease-in-out;
}
.noLeftBorder{
    border-left: 0;
}
.noRightBorder{
    border-right: 0;
}
.noTopBorder{
    border-top: 0;
}
.noBottomBorder{
    border-bottom: 0;
}
#result{
    display: none;
}
.stats{
    height: 5rem;
    width: 100vw;
    /* background-color: blue; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.reset{
    display: flex;
    justify-content: right;
}
button{
    margin: 0.5rem;
    padding: 0.5rem;
    display: block;
    width: 9rem;
    height: 3rem;
    background-color: aqua;
}

.textColour{
    font-size: 5rem;
    font-weight: bolder;

}