*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 50vh;
    width: 100vw;

}
.gameContainer{
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.item{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:hover{
    background-color: rgba(226, 175, 234, 0.877);
    transition-property:background-color ;
    transition-duration: 0.8s;
   transition-timing-function: ease-in-out;
}
.noLeftBorder{
    border-left: 0;
}
.noRightBorder{
    border-right: 0;
}
.noTopBorder{
    border-top: 0;
}
.noBottomBorder{
    border-bottom: 0;
}
#result{
    display: none;
}
.stats{
    height: 5rem;
    width: 100vw;
    /* background-color: blue; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.reset{
    display: flex;
    justify-content: right;
}
button{
    margin: 0.5rem;
    padding: 0.5rem;
    display: block;
    width: 9rem;
    height: 3rem;
    background-color: aqua;
}
